*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #777 ;
}
/* #template{
    background-color:#fff;
    width: 40%;
    padding: 50px 40px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;

}
h3 #form{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} */
h3{
    position: relative;
   font-size: 20px;
   font-weight: 900;
   color: black;
   letter-spacing: 1px;
   margin-bottom: 5px;


}
#form{
    position: relative;
    
}
#form #email{
    width: 300px;
    background-color: #292929;
outline: none;
border: none;
padding: 10px;
border-radius: 10px;
font-size: 18px;
color: #fff;
}
#form .inputbox{
    position: relative;

}
input[type="button"]{
    background-color: #101030;
    font-weight: 500;
    color: white;
    border: none;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
   
   }
#text{
    display: block;
    color: #000;
    font-weight: 300;
    font-style: italic;
    padding:5px ;

}
#form .invalid .inputbox:before{
    content: "";
    position: absolute;
    right: 12px;
    top: 5px;
    width: 24px;
    height: 24px;
    background: url(images/circle-xmark-solid.svg);
    background-size: cover;
    z-index: 1000;
}